body {
    padding: 0;
    margin: 0;
}


#btn {
    padding: 5px 10px;
    border-radius: 8px;
    background: none;
    border: 1px solid black;
}

.newElement {
    padding: 10px;
    border: 1px solid black;
    background: red;
}